body{
    background: url('/Ex1/333573.jpg');
}
section{
    width: 55%;
    margin:  auto;
    margin-top: 10%;

}

h2{
    text-align: center;
    font-size: 40px;
    color: #002b80;
}

h2,tr,th{
    font-family: Arial, sans-serif;
}

table{
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 12px;
}

td{
    border: 1px solid #c9c9c9;
}

table{
    width: 800px;
    height: 300px;
}

th{
    background: #002b80 ;
    color: white;
    text-align: center;
}

#row-1, #row-3, #row-5{
    background: #f9f9f9 ;
}
#row-2, #row-4{
    background: #ffffff;
}

#row-6{
    background: #002b80;
    color: white;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.column-3{
    text-align:right;
    padding-right: 10px;
}

#total{
    padding-right: 10px;
}

.pseudo-element::before{
    content: "[Top Sales] ";
}

.low{
    font-style: italic;
    background: #ffe6e6;
    color: red;
}

.high{
    font-weight: bold;
    background: #e6ffe6;
    color: green ;
}
